<div class="main-screen">

    <table class="plain-table">
        <tr>
            <td style="vertical-align: top">
                <table class="plain-table">
                    <tr>
                        <td style="text-align: center; align-content: center"><a ui-sref="gland.search">
                            <img src="images/theme/main/main_button_cable.png" class="main-image" alt="Cable Glands">
                        </a></td>
                    </tr>
                    <tr>
                        <td style="text-align: center"><span class="main-title">
                        Cable Glands
                    </span></td>
                    </tr>
                </table>

            </td>
            <td style="vertical-align: top">

                <table class="plain-table">
                    <tr>
                        <td style="text-align: center; align-content: center"><a ui-sref="motor.direct">
                            <img src="images/theme/main/main_button_motor.png" class="main-image" alt="Motor Control">
                        </a></td>
                    </tr>
                    <tr>
                        <td style="text-align: center"><span class="main-title">Motor Control</span></td>
                    </tr>
                </table>

            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="splitter">&nbsp;</div>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top">

                <table class="plain-table">
                    <tr>
                        <td style="text-align: center; align-content: center"><a ui-sref="lighting.products">
                            <img src="images/theme/main/main_button_lighting.png" class="main-image" alt="Energy Efficient Lighting">
                        </a></td>
                    </tr>
                    <tr>
                        <td style="text-align: center"><span class="main-title">Energy Efficient Lighting</span></td>
                    </tr>
                </table>

            </td>
            <td style="vertical-align: top">

                <table class="plain-table">
                    <tr>
                        <td style="text-align: center; align-content: center"><a ui-sref="branch.map">
                            <img src="images/theme/main/main_button_branch.png" class="main-image" alt="Branch Locator">
                        </a></td>
                    </tr>
                    <tr>
                        <td style="text-align: center"><span class="main-title">Branch Locator</span></td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>


</div>