<h1 class="section-title">
<i class="fa fa-search"></i> Cable Glands
</h1>
<hr>
<div class="clearfix"></div>

<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-lg-2 control-label white-header">Application</label>

        <div class="col-lg-10">
            <select class="form-control">
                <option>Ground</option>
                <option>Ducts</option>
                <option>Air</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label white-header">Cable</label>

        <div class="col-lg-10">
            <select class="form-control">
                <option>Cable 1</option>
                <option>Cable 2</option>
                <option>Cable 3</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label white-header">Current Rating</label>

        <div class="col-lg-10">
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label white-header">Size</label>

        <div class="col-lg-10">
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>
    </div>
</form>
<p>
    <a ui-sref="gland.result" class="btn btn-success btn-lg" style="width: 100%">calculate</a>
</p>